{% set pageTitle = title + ' - ' + site.name %}

{# We don't want any duplication. This is likely for the home page. #}
{% if site.name === title %}
{% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{% if not socialImage %} 
  {% set socialImage = site.url + '/images/meta/social-share.png' %} 
{% endif %}

{# If the page’s Front Matter has specific metaTitle and/or metaDesc items, switch
them into the mix. #}
{% if metaTitle %}
{% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
{% set metaDesc = summary %}
{% endif %}


<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<link rel="icon" href="/images/meta/favicon.svg?" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/meta/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/meta/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/meta/favicon-16x16.png?">
<link rel="manifest" href="/images/meta/site.webmanifest">
<link rel="mask-icon" href="/images/meta/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/images/meta/favicon.ico">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/images/meta/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if socialImage %}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" content="{{ socialImage }}" />
<meta name="twitter:image" content="{{ socialImage }}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />
<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

{% if metaDesc %}
<meta name="description" content="{{ metaDesc }}" />
<meta name="twitter:description" content="{{ metaDesc }}" />
<meta property="og:description" content="{{ metaDesc }}" />
{% endif %}